{% extends "blog/base.html" %}  <!-- Расширяем базовый шаблон blog/base.html -->

{% block content %}
  <div class="content-section">
    <form method="POST">  <!-- Форма для отправки POST-запроса на удаление записи -->
      {% csrf_token %}  <!-- Защита от CSRF-атак -->
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Удаление записи</legend>  <!-- Заголовок формы -->
        <!-- Сообщение о подтверждении удаления с заголовком записи -->
        <h2>Вы уверены, что хотите удалить эту запись "{{ object.title }}"?</h2>
      </fieldset>
      <div class="form-group">
        <!-- Кнопка для подтверждения удаления -->
        <button class="btn btn-outline-danger" type="submit">Да, хочу удалить</button>
        <!-- Ссылка для отмены удаления, возвращающая на страницу деталей записи -->
        <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Отмена</a>
      </div>
    </form>
  </div>
{% endblock content %}